---
import cn from "@/lib/cn";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"project">["data"] & {
    textSide: boolean;
    slug: CollectionEntry<"project">["slug"];
};
const { heroImage, slug, title, textSide, techStack, description, version } = Astro.props;
---

<div
    class={cn("flex w-full flex-col gap-4 overflow-hidden rounded-2xl p-4 bg-gray-100/70", {
        "lg:flex-row": !textSide,
        "lg:flex-row-reverse": textSide,
    })}
>
    <div class="aspect-video flex items-center justify-center rounded-xl w-full lg:w-2/3 overflow-hidden">
        <img src={heroImage} alt={`hero-image-${slug}`} class="grayscale" transition:name={`PRHI-${slug}`} />
    </div>
    <div class="flex flex-col gap-2 p-2 md:p-4 md:gap-4 lg:w-1/3">
        <h3
            transition:name={`PRT-${slug}`}
            class="h-min text-ellipsis overflow-hidden flex-[unset_1_min-content] text-nowrap text-xl font-bold tracking-tight"
        >
            {title}<sup>{version}</sup>
        </h3>
        <ul class="flex gap-2 flex-wrap text-sm">
            {
                techStack.map(function (tech) {
                    return <li class="bg-gray-200 px-2 py-1 rounded-full">{tech}</li>;
                })
            }
        </ul>
        <p>{description.slice(0, 80)}{description.length > 80 && "\u2026"}</p>
        <a
            href={`/project/${slug}`}
            class={cn("mt-auto bg-gray-200 rounded-xl py-2 px-4 w-fit text-nowrap", {
                "md:ml-auto": !textSide,
                "md:mr-auto": textSide,
            })}>Read More</a
        >
    </div>
</div>
