---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

import formatDate from "@/lib/formatDate";

type Props = CollectionEntry<"project">["data"] & { slug: CollectionEntry<"project">["slug"] };

const { title, description, keywords, heroImage, techStack, createdAt, version, slug } = Astro.props;
---

<BaseLayout title={title} keywords={keywords} description={description}>
    <a class="underline" href="/project">&leftarrow;&numsp;All Projects</a>
    <h1 class="flex items-center text-nowrap text-xl font-bold md:text-2xl" transition:name={`PRT-${slug}`}>
        <span class="overflow-hidden text-ellipsis">
            {title}<sup>{version}</sup>
        </span>
    </h1>

    <div class="flex flex-wrap items-center gap-2">
        <sapn>Build With:</sapn>
        {
            techStack.map(function (tech) {
                return <span class="rounded-full bg-gray-200 px-2 py-1 text-sm">{tech}</span>;
            })
        }
    </div>
    <span class="ml-auto min-w-fit text-nowrap">on {formatDate(createdAt)}</span>
    <div class="flex aspect-video items-center justify-center overflow-hidden rounded-2xl border border-gray-300">
        <img
            src={heroImage}
            class="min-h-full min-w-full object-cover grayscale"
            alt={`${title} - Project Hero Image`}
            transition:name={`PRHI-${slug}`}
        />
    </div>
    <slot />
</BaseLayout>
