---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

import formatDate from "@/lib/formatDate";
import cdnify from "@/lib/cdnify";

type Props = CollectionEntry<"project">["data"] & { slug: CollectionEntry<"project">["slug"] };

const { metaContent, techStack, createdAt, version, slug } = Astro.props;
const { title, heroImage } = metaContent;
import "@/styles/pub.css";
---

<BaseLayout {...metaContent} image={cdnify(heroImage)}>
    <a class="w-fit underline" href="/project">&leftarrow;&numsp;All Projects</a>
    <h1 class="flex items-center text-xl font-bold md:text-2xl" transition:name={`PRT-${slug}`}>
        {title}<sup>{version}</sup>
    </h1>

    <div class="flex flex-wrap items-center gap-2">
        <sapn>Build With:</sapn>
        {
            techStack.map(function (tech) {
                return <span class="rounded-full bg-gray-200 px-2 py-1 text-sm dark:bg-gray-800">{tech}</span>;
            })
        }
    </div>
    <span class="ml-auto min-w-fit text-nowrap">on {formatDate(createdAt)}</span>
    <div
        class="mb-4 flex aspect-video items-center justify-center overflow-hidden rounded-2xl border border-gray-300 dark:border-gray-700 md:border-2"
    >
        <img
            src={cdnify(heroImage)}
            class="min-h-full min-w-full object-cover grayscale"
            alt={`${title} - Project Hero Image`}
            transition:name={`PRHI-${slug}`}
        />
    </div>
    <div id="project-content">
        <slot />
    </div>
</BaseLayout>
