---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

import formatDate from "@/lib/formatDate";
import { fade } from "astro:transitions";

type Props = CollectionEntry<"project">["data"] & { slug: CollectionEntry<"project">["slug"] };

const { title, description, keywords, heroImage, techStack, createdAt, version, slug } = Astro.props;
---

<BaseLayout title={title} keywords={keywords} description={description}>
    <a class="underline" href="/project">&leftarrow;&numsp;All Projects</a>
    <h1 class="flex items-center font-bold text-xl md:text-2xl text-nowrap" transition:name={`PRT-${slug}`}>
        <span class="overflow-hidden text-ellipsis">
            {title}<sup>{version}</sup>
        </span>
    </h1>

    <div class="flex flex-wrap gap-2 items-center">
        <sapn>Build With:</sapn>
        {
            techStack.map(function (tech) {
                return <span class="bg-gray-200 text-sm px-2 py-1 rounded-full">{tech}</span>;
            })
        }
    </div>
    <span class="text-nowrap ml-auto min-w-fit">on {formatDate(createdAt)}</span>
    <div class="border border-gray-300 aspect-video overflow-hidden rounded-2xl flex items-center justify-center">
        <img
            src={heroImage}
            class="grayscale min-h-full min-w-full object-cover"
            alt={`${title} - Project Hero Image`}
            transition:name={`PRHI-${slug}`}
        />
    </div>
    <slot />
</BaseLayout>
